<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About BioBrain</title>
  <link rel="stylesheet" href="/css/desktopStyle.css" />
  
</head>
<body class="desktop-leaderboard-page">

  <!-- Header -->
  <%- include('../../partials/desktop/header') %>

  <!-- Hero / About Section -->
  <section class="about-hero desktop-leaderboard-about-hero">
    <h1>Leader Board</h1>
    <p class="about-text desktop-leaderboard-about-text">
      LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  
      LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  
      LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  LEADER BOARD COMING !!!  
    </p>
  </section>

  <!-- Footer -->
  <%- include('../../partials/desktop/footer') %>
</body>
</html>