
<header>
  <div class="navbar">
    <a href="/">
      <img src="/images/biobrain-logo.png" alt="BioBrain Quiz Logo" id="logo">
    </a>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/admin">Admin</a></li>

      <% if (session && session.user) { %>
        <li class="nav-user">
          <div class="user-menu" id="userMenu">
            <div class="user-trigger">
              <div class="user-avatar">
                <%= session.user.username.charAt(0).toUpperCase() %>
              </div>
              <span class="arrow">&#9662;</span>
            </div>

            <div class="dropdown">
              <div class="dropdown-header desktop-inline-1xckfc3">
                <div class="dropdown-username desktop-inline-4d2m7a">
                  <%= session.user.username %>
                </div>
                <div class="dropdown-email desktop-inline-925d0w">
                  <%= session.user.email %>
                </div>
              </div>
              <div class="dropdown-divider desktop-inline-1jrkhoz"></div>
              <a href="/user/profile" class="dropdown-item desktop-inline-afrih6">👤 Profile</a>
              <a href="/authentication/logout" class="dropdown-item logout desktop-inline-1ad8ihf">🚪 Logout</a>
            </div>
          </div>
        </li>
      <% } else { %>
        <li>
          <a href="/authentication/login" class="btn-navbar">Login</a>
        </li>
      <% } %>
    </ul>
  </div>
</header>